<toaster-container></toaster-container>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
	        <div class="row">
	            <h1 class="page-header">Tienda OXXO</h1>
	            <div class="btn btn-primary pull-right">Agregar productos</div>
	            <a class="btn btn-default pull-right" ui-sref="main" style="margin-right: 1em;">Regresar</a>	
	        </div>
	        <br>
	        <div class="row">
	            <div class="list-group small">
	                <a ng-repeat="product in $ctrl.products" class="list-group-item">
	                	<span class="badge pull-right">$ {{product.price}}</span>{{product.name}}
	                </a>
	            </div>
	        </div>
	        <div class="row">
            	<div class="btn btn-success pull-right" ng-click="$ctrl.saveTicket()">Guardar</div>
	        </div>
        </div>
    </div>
</div>
